@font-face{
        font-family: plumb;
        font-display: swap;
        src: url("../fonts/plumb-light.woff2") format("woff2"), url("../fonts/plumb-light.ttf2") format("ttf2");
        font-weight: 300;
        font-style: normal
       }
@font-face{
        font-family: plumb;
        font-display: swap;
        src: url("../fonts/plumb-black.woff2") format("woff2"), url("../fonts/plumb-black.ttf2") format("ttf2");
        font-weight: 900;
        font-style: normal
       }
@font-face{
        font-family: Roboto;
        font-display: swap;
        src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.ttf2") format("ttf2");
        font-weight: 500;
        font-style: normal
       }
@font-face{
        font-family: plumb;
        font-display: swap;
        src: url("../fonts/plumb-medium.woff2") format("woff2"), url("../fonts/plumb-medium.ttf2") format("ttf2");
        font-weight: 500;
        font-style: normal
       }
@font-face{
        font-family: Roboto;
        font-display: swap;
        src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.ttf2") format("ttf2");
        font-weight: 400;
        font-style: normal
       }
